{% extends 'base.html' %}
{% block content %}

<h1>QuickFlix</h1>
<div class="col">
    <div class="about">
        <h2>A quicker way to pick your flick</h2>
        <p>QuickFlix is an app that brings the best movies of Netflix, Hulu, and Amazon Prime to one place. The user can search through all three libraries simultaneously, cutting their search time in half.</p>
        <div><a class="waves-effect waves-light btn-large" href="{% url 'signup' %}">Sign Up</a></div>
    </div>
    <img src="https://www.kindpng.com/picc/m/59-592326_cinema-popcorn-png-movie-popcorn-transparent-background-png.png">
</div>
<div class="logos">
    <img class="img-logo" src="https://freepikpsd.com/file/2019/10/netflix-logo-png-transparent-1-Transparent-Images.png">
    <img class="img-logo" src="https://assetshuluimcom-a.akamaihd.net/h3o/facebook_share_thumb_default_hulu.jpg">
    <img class="img-logo" src="https://m.media-amazon.com/images/G/01/digital/video/acquisition/amazon_video_light_on_dark.png">
</div>
{% endblock %}

