body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

footer.page-footer {
	padding-top: 0;
	text-align: right;
}

.container {
	width: 85%;
}

.col {
	display: flex;
}

img {
	width: 400px;
	height: 400px;
}

.logos {
	display: flex;
	margin-left: 20px;
	align-items: flex-end;
}

.img-logo {
	height: 100px;
	width: 100px;
	border-radius: 35px;
	margin: 10px;
}

nav.nav {
	background-color: rgb(23, 62, 160) !important;
}

footer.page-footer {
	background-color: rgb(23, 62, 160) !important;
}