{% extends 'base.html' %}

{% block content %}
<h1>Movie Detail</h1>
<p>Title: {{movie.name}}</p>
<p>Genre: {{movie.get_genre_display}}</p>
<p>Description: {{movie.description}}</p>
<div><a class="waves-effect waves-light btn-large" href="{{movie.movielink}}">Watch Now!</a></div>
<h1>Add Review</h1>

<!-- Leaving the action empty makes the form post to the same url used to display it -->

<form action="" method="post">
  {% csrf_token %}
  <label for="your_name">Review: </label>
  <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
  <input type="submit" value="OK">
</form>

{% endblock %}