{% extends 'base.html' %}

{% block content %}
<h1>Movie Detail</h1>

<div class="row">
  <div class="col s6"> 
    <div>
      <img src="{{movie.image}}" alt="" class="responsive-img">
      <div><a class="waves-effect waves-light btn-large" href="{{movie.movielink}}">Watch Now!</a></div>
    </div>
  </div>
  
  <div class="col s6">
    <div class="block">
      <p>Title: {{movie.name}}</p>
      <p>Genre: {{movie.get_genre_display}}</p>
      <p>Description: {{movie.description}}</p>
    </div>
  </div>
  <div class="col s6 review">

    <h2><a href="{% url 'review_create' %}">Add Review</h2>
    <table class="striped">
      <thead>
        <tr>
          <th>Reviews</th>
          <th>Recommendations</th>
        </tr>
      </thead>
      <tbody>
        {% for review in movie.review_set.all %}
        <tr>
          <td>{{review.comment}} </td>
          <td>{{review.recommend|yesno:"Would Recommend,Would not Recommend" }}</td>
          if user
          <td><a href="{% url 'review_update' review.id %}">Edit</a></td>
        </tr>
        {% endfor %}
        </tbody>

        </div>
    </table>
  </div>
{% endblock %}
