{% extends 'base.html' %}

{% block content %}
<h1>Movie Detail</h1>
<p>Title: {{movie.name}}</p>
<p>Genre: {{movie.get_genre_display}}</p>
<p>Description: {{movie.description}}</p>
<div><a class="waves-effect waves-light btn-large" href="{{movie.movielink}}">Watch Now!</a></div>
<h1>Add Review</h1>

<!-- Leaving the action empty makes the form post to the same url used to display it -->
<div class="col s6">
  <!-- new code below -->
  <form method="post" action="{% url 'add_review' movie.id %}">
    {% csrf_token %}
    {{ review_form.as_p }}
    <input type="submit" class="btn" value="Add Review">
  </form>
</div>

<!-- below all HTML -->

{% endblock %}