{% extends 'base.html' %}
{% block content %}

<h1>Movie List</h1>

<div class="row">
{% for movie in movies %}
    <div class="col s3 m3 13">
        <a href="{% url 'detail' movie.id%}">
            <img src="{{ movie.image }}" alt="" class="responsive.img">
        </a>
    </div>
    {% endfor %}
</div>
    
<div class="row">
    <div class="col s3 m3 13"><img src="/static/css/images/black-panther-web.jpeg" alt="" class="responsive-img"></div>
    <div class="col s3 m3 13"><img src="/static/css/images/black-panther-web.jpeg" alt="" class="responsive-img"></div>
    <div class="col s3 m3 13"><img src="/static/css/images/black-panther-web.jpeg" alt="" class="responsive-img"></div>
    <div class="col s3 m3 13"><img src="/static/css/images/black-panther-web.jpeg" alt="" class="responsive-img"></div>
</div>
<div class="row">
    <div class="col s3 m3 13"><img src="/static/css/images/black-panther-web.jpeg" alt="" class="responsive-img"></div>
    <div class="col s3 m3 13"><img src="/static/css/images/black-panther-web.jpeg" alt="" class="responsive-img"></div>
    <div class="col s3 m3 13"><img src="/static/css/images/black-panther-web.jpeg" alt="" class="responsive-img"></div>
    <div class="col s3 m3 13"><img src="/static/css/images/black-panther-web.jpeg" alt="" class="responsive-img"></div>
</div>
<div class="row">
    <div class="col s3 m3 13"><img src="/static/css/images/black-panther-web.jpeg" alt="" class="responsive-img"></div>
    <div class="col s3 m3 13"><img src="/static/css/images/black-panther-web.jpeg" alt="" class="responsive-img"></div>
    <div class="col s3 m3 13"><img src="/static/css/images/black-panther-web.jpeg" alt="" class="responsive-img"></div>
    <div class="col s3 m3 13"><img src="/static/css/images/black-panther-web.jpeg" alt="" class="responsive-img"></div>
</div>

{% endblock %}
